.page {
    padding-top: 80px;
}

.body {
    background-color: #1C0000;
    padding: 5% 7.5%;
}

.body-content {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.body-content-cart {
    background-color: #5C0808;
    padding: 1.5rem 2rem 2rem 1.5rem;
    border-radius: 1rem;
}

.body-content-cart-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: left;
}

.body-content-cart-header-icon {
    color: #EDF2F4;
    font-size: 2rem;
}

.body-content-cart-header-text {
    color: #EDF2F4;
    font-weight: bold;
    font-size: 3rem;
    line-height: 91.5%;
}

.body-content-footer {
    display: flex;
    justify-content: start;
}

.body-content-footer-check {
    display: flex;
    gap: 1.5rem;
    padding-left: 0.5rem;
    margin-top: 1.75rem;
}

.body-content-footer-check:hover {
    cursor: pointer;
}

.body-content-footer-checkbox {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    background: rgba(.0, .0, .0, .0);
    border: 3px #EDF2F4 solid;
}

.body-content-footer-check-title {
    text-decoration: underline;
    color: #EDF2F4;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 91.5%;
}

.body-content-total {
    background-image: url("Comanda-background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 1.25rem 1.25rem 1.875rem 1.25rem;
    text-align: left;
}

.body-content-total-quantity {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 91.5%;
    color: #5C0808;
}

.body-content-total-subtotal {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.body-content-total-subtotal-text {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 91.5%;
    color: #5C0808;
}

.body-content-total-subtotal-currency {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 91.5%;
    color: #5C0808;
}

.body-content-total-subtotal-price {
    font-size: 2.25rem;
    margin-left: 0.25rem;
}

.body-content-total-shipping {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
}

.body-content-total-shipping-text {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 91.5%;
    color: #5C0808;
}

.body-content-total-shipping-currency {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 91.5%;
    color: #5C0808;
}

.body-content-total-shipping-price {
    font-size: 1.75rem;
    margin-left: 0.375rem;
}

.body-content-total-discount {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.body-content-total-discount-text {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 91.5%;
    color: #5C0808;
}

.body-content-total-discount-currency {
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 91.5%;
    color: #5C0808;
}

.body-content-total-discount-price {
    font-size: 1.75rem;
    margin-left: 0.375rem;
}

.body-content-total-value {
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
    margin-bottom: 4rem;
}

.body-content-total-value-text {
    font-weight: bold;
    font-size: 2rem;
    line-height: 91.5%;
    color: #5C0808;
}

.body-content-total-value-currency {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 91.5%;
    color: #5C0808;
}

.body-content-total-value-price {
    font-size: 2.625rem;
    margin-left: 0.325rem;
}

.body-content-total-button {
    display: flex;
    background-color: #0000FE;
    border-radius: 1.875rem;
    padding: 0.75rem 5.875rem;
    color: #EDF2F4;
    text-decoration: none;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 91.5%;
    object-fit: cover;
    transition: background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.body-content-total-button:hover {
    transform: translateY(-5px);
    background-color: #00009e;
}