.info-body {
    margin-top: 96px;
    background-color: #1C0000;
}

.page-body-title {
    color: #EDF2F4;
    margin: 0;
    padding: 1%;
    line-height: 100%;
}

.page-body-subtitle {
    color: #EDF2F4;
    margin: 0;
    padding: 1%;
    line-height: 100%;
    text-align: left;
}

.page-body-text {
    color: #EDF2F4;
    margin: 0;
    padding: 1%;
    line-height: 100%;
    text-align: left;
}