body {
    margin: 0;
    padding: 0;
    background-color: #1C0000;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.product-page-wrapper {
    display: flex;
    justify-content: center;
    min-width: 1200px;
    align-items: flex-start;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

.product-main-content {
    width: 70%;
    background-color: #5C0808;
    padding: 22px;
    margin-right: 20px;
    box-sizing: border-box;
}

.product-sidebar {
    width: 30%;
    background-color: #5C0808;
    padding: 22px;
}